@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

$fontPrimary: "Alkatra", cursive;
$fontSecondary: "Delicious Handrawn", cursive;
$colorPrimary: #ffd60a;
$colorSecondary: #000814;
$colorThird: #ffa200fd;
$colorFourth: #001d3d;
$colorFith: #003566;
