footer {
  width: 90%;
}

.main-container {
  height: 50%;
}
.el-main {
  padding: 0px;
}
.footer_container {
  border-top: 1px solid rgb(255, 255, 255);
  &-nav {
    height: 120px;
    background-color: $colorSecondary;
    padding-top: 15px;
  }
  &-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorSecondary;
    color: $colorPrimary;
    font-family: $fontSecondary;
    font-size: 20px;
    min-height: 64px;
    & p {
      display: inline;
    }
    &-text {
      max-width: 200px;
    }
  }
}
.header-icons {
  cursor: pointer;
  padding: 10px;
}
.header-help {
  cursor: pointer;
  padding: 10px;
}
.switcher-lang {
  cursor: pointer;
  &-home {
    transform: translateY(-4px);
    margin-inline: 10px 10px;
  }
}
