@import "./variables";
@import "./colors";
@import "./transition";

@import "./elComponent";
@import "./layout";
@import "./tutorial";

a {
  text-decoration: none;
  color: $colorPrimary;
}

section {
  width: 90%;
}

body {
  background-color: $colorSecondary;
  color: $colorPrimary;
  font-family: $fontPrimary;
  margin: 0px;
}
#app_container {
  background-color: $colorFith;
}

h2 {
  margin: 0px;
  font-size: 1.2em;
}
svg {
  color: $colorThird;
}
