// VUE TRANSITION OF ROUTE CHANGE
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

// VUE TRANSITION OF CARDS
.slide-move,
.slide-enter-active,
.slide-leave-active {
  transition: all 0.6s ease;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translate(-40px, 0);
}
.slide-leave-active {
  position: absolute;
}
// VUE TRANSITION OF LAYOUT
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slideY-enter-active,
.slideY-leave-active {
  transition: all 0.4s ease;
}

.slideY-leave-to {
  opacity: 0;
  transform: translate(10px, 0px);
}
.slideY-enter-from {
  opacity: 0;
  transform: translate(-10px, 0px);
}

.rotateZ-enter-active,
.rotateZ-leave-active {
  transition: all 0.4s ease;
}

.rotateZ-leave-to {
  opacity: 0;
  transform: rotateZ(45deg);
}
.rotateZ-enter-from {
  opacity: 0;
  transform: rotateZ(45deg);
}
