// STYLE THE MODAL
/* The Modal (background) */
.modal_help {
  display: block; /* Hidden by default */
  opacity: 0;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  font-family: $fontSecondary;
}

/* Modal Content/Box */

.modal_tuto {
  z-index: 101;
  height: 100%;
  width: 100%;
  &-cardSwitch {
    position: relative;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    &-arrowup {
      position: absolute;
      text-align: left;
      left: 25%;
      top: 8%;
      width: 50%;
    }
    &-contentUp {
      position: absolute;
      text-align: left;
      left: 30px;
      top: 32%;
      width: 70%;
    }
    &-contentDown {
      position: absolute;
      text-align: left;
      right: 10px;
      bottom: 22%;
      width: 70%;
    }
    &-arrowdown {
      position: absolute;
      text-align: left;
      right: 30%;
      bottom: 4%;
      width: 30%;
      transform: rotateZ(180deg);
    }
  }
  &-lastRemember {
    position: relative;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    &-arrowup {
      position: absolute;
      text-align: left;
      left: 25%;
      top: 7%;
      width: 50%;
      transform: rotateY(180deg);
    }
    &-contentUp {
      position: absolute;
      text-align: left;
      left: 5%;
      top: 35%;
      width: 70%;
    }
    &-contentDown {
      position: absolute;
      text-align: left;
      right: 20px;
      bottom: 25%;
      width: 70%;
    }
    &-arrowdown {
      position: absolute;
      text-align: left;
      right: 18%;
      bottom: 4%;
      width: 30%;
      transform: rotateZ(180deg) rotateY(180deg);
    }
  }
  &-recorder {
    position: relative;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    &-arrowup {
      position: absolute;
      text-align: left;
      left: 35px;
      bottom: 2%;
      width: 50%;
      transform: rotateZ(180deg) rotateY(180deg);
    }
    &-contentUp {
      position: absolute;
      text-align: left;
      right: 10px;
      bottom: 38%;
      width: 60%;
      font-size: 1.3rem;
    }
    &-contentDown {
      position: absolute;
      text-align: left;
      left: 10px;
      bottom: 27%;
      width: 70%;
      font-size: 1.3rem;
    }
    &-arrowdown {
      position: absolute;
      text-align: left;
      right: 20px;
      bottom: 13%;
      width: 40%;
      transform: rotateZ(170deg) rotateY(180deg);
    }
  }
  &-word {
    position: relative;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    &-tap {
      position: absolute;
      text-align: left;
      left: 60%;
      top: 70px;
    }
    &-contentLeft {
      position: absolute;
      text-align: left;
      left: 20px;
      top: 150px;
      font-size: 1.5rem;
      width: 90%;
    }
    &-contentRight {
      position: absolute;
      text-align: left;
      right: 5px;
      top: 150px;
      font-size: 1.5rem;
      width: 90%;
    }
    &-swipe {
      position: absolute;
      text-align: left;
      left: 25%;
      top: 70px;
    }
  }
}

/* The Close Button */
.modal_action {
  &-close {
    z-index: 101;
    position: absolute;
    left: 15px;
    top: -27px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 82px;
    &:hover,
    &:focus {
      color: $colorThird;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &-btn {
    z-index: 101;
    position: absolute;
    right: 60px;
    top: 10px;
    font-size: 20px;
    padding: 6px 8px;
    border: 2px white solid;
    border-radius: 4px 4px;
    background-color: $colorSecondary;
    color: white;
    font-family: $fontSecondary;
    font-size: 1.4rem;
    &:hover,
    &:focus {
      color: $colorThird;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 700px) {
  .modal_tuto {
    font-size: 1.5rem;
    &-cardSwitch {
      &-arrowup {
        left: 20%;
        top: 3%;
      }
      &-arrowdown {
        bottom: 0%;
      }
    }
    &-lastRemember {
      &-arrowup {
        top: 3%;
      }
      &-contentUp {
        left: 30%;
      }
      &-contentDown {
        bottom: 28%;
      }
      &-arrowdown {
        bottom: 1%;
        right: 40%;
      }
    }
    &-recorder {
      &-arrowup {
        left: 15px;
        bottom: 0%;
      }
      &-contentUp {
        bottom: 40%;
      }
      &-contentDown {
        bottom: 35%;
      }
      &-arrowdown {
        bottom: 8%;
        right: 65px;
        width: 40%;
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .modal_tuto {
    &-cardSwitch {
      &-arrowup {
        left: 35%;
        width: 20%;
      }
      &-contentUp {
        left: 30%;
        top: 40%;
        width: 50%;
      }
      &-contentDown {
        right: 10%;
        bottom: 35%;
        width: 30%;
      }
      &-arrowdown {
        bottom: 2%;
        width: 15%;
        right: 25%;
      }
    }
    &-lastRemember {
      &-arrowup {
        left: 45%;
        width: 20%;
      }
      &-contentUp {
        left: 40%;
        top: 45%;
        width: 40%;
      }
      &-contentDown {
        bottom: 37%;
      }
      &-arrowdown {
        right: 52%;
        width: 15%;
      }
    }
    &-recorder {
      &-arrowup {
        width: 15%;
        left: 25%;
        bottom: 2%;
      }
      &-contentUp {
        left: 45%;
        bottom: 45%;
        width: 40%;
      }
      &-contentDown {
        left: 25%;
        bottom: 30%;
        width: 40%;
      }
      &-arrowdown {
        width: 17%;
        right: 30%;
      }
    }
    &-word {
      &-contentLeft {
        left: 25%;
        width: 50%;
      }
      &-contentRight {
        left: 30%;
        width: 50%;
      }
      &-swipe {
        left: 45%;
      }
    }
  }
  .modal_action {
    &-close {
      left: 20%;
    }
    &-btn {
      right: 20%;
      top: 10px;
    }
  }
}
